body {
    background-color: white;
    font-size: 20px;
}

#content {
    max-width: 750px;
    margin: 20px auto;
    border: 1px solid darkgrey;
    padding: 50px;
}

li {
    margin-bottom: 1em;
}

p, li {
    font-size: 1em;
}

hr {
    height: 0px;
    width: 80%;
    border: 1px solid lightgray;
    margin-top: -10px;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    color: #035f9c;
    font-size: 0.75em;
    letter-spacing: 4px;
    font-weight: normal;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0px auto;
    margin-top: 75px;
    width: 20%;
}

#topics {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em;
}

.li-start {
    font-style: italic;
}